$bg: rgb(32, 37, 41);
$bg-nav: rgb(248, 249, 252);
$bg-search: rgb(208, 228, 220);
$bg-search-font: rgb(100, 135, 128);
$bg-font-col: rgb(255, 253, 249);

$font-col: rgb(21, 41, 60);
$nav-font-col: rgb(142, 143, 144);

$input-bg: rgb(237, 237, 237);

$error: red;