@mixin card() {

    article {
        @include grid(1fr, center, center, 0, 0);
        width: 100%;
        height: 100%;
        border: 1px solid $nav-font-col;
        box-shadow: 0 0 3px $bg;

        h3 {
            font-size: pixels-rem(12);
            text-align: center;
            margin: pixels-rem(10) 0;
        }

        div:first-of-type {
            width: 100%;
            height: pixels-rem(250);
            margin-bottom: pixels-rem(10);
            overflow: hidden;

            img {
                @include imagen();
                padding: pixels-rem(2);
                transition: transform 500ms ease-in-out;
            }

            img:hover {
                transform: scale(1.3);
            }
        }

        p {
            padding: pixels-rem(2) pixels-rem(10);
            font-size: pixels-rem(12);

            span {
                font-weight: bold;
            }
        }

        p:last-of-type {
            span {
                color: $error;
            }
        }

        div:last-of-type {
            text-align: center;
            margin-bottom: pixels-rem(5);

            button {
                @include boton();
                margin-top: pixels-rem(5);
                width: pixels-rem(100);
                padding: pixels-rem(8);
                transition: background-color 250ms ease-in-out;
            }

            button:hover {
                @include boton-hover();
            }
        }
    }

    article:hover {
        box-shadow: 0 0 10px 2px $bg;
    }


    @media screen and ($bp-mobile-plus) {

        article {
            h3 {
                font-size: pixels-rem(13);
            }

            div:first-of-type {
                height: pixels-rem(280);
            }
        }
    }

}